/GerenciadorCondominio/bin
/GerenciadorCondominio/obj

/GerenciadorCondominios.Domain/bin
/GerenciadorCondominios.Domain/obj


/GerenciadorCondominios.Repository/bin
/GerenciadorCondominios.Repository/obj
